configuration {
	display-drun: "Applications";
	display-window: "Windows";
	drun-display-format: "{icons} {name}";
	font: "System San Francisco Display 16";
	modi: "Window, run, drun";
	show-icons: true;
}

@theme "/home/antonio/.config/rofi/themes/spotlight-dark.rasi"
